*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;
    
}

section {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border: 2px solid #464E44;
    padding: 10px;
    width: 40%;
    height: 52%;
    padding-left: 20px;
    
}
#main{
    display: flex;
    
    padding: 50px 0px;
    flex-wrap: wrap;
    
}
#main div{
    width: 25%;
}
#header{
    width: 100%;
    padding: 10px 0px 50px 0px
}
.genda p{
    font-size: 35px;
    padding-bottom: 10px;
}
#btn{
    padding-bottom: 15px;
}
input[type=number] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #1073d0;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 2px;
    color: #1073d0;
    font-size: 30px;
}
input[type=number]:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}
input[type=submit] {
    width: 150px;
    
    margin-top: 0px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #0761b6;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;

    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #003669;
}
@media screen and (max-width:1200px) {
    section{
        width: 70%;
        height: auto;
        padding-left: 20px;
    }
    
    
}
@media screen and (max-width:850px){
    input[type=number]{
        width:90px
    }
    
}
@media screen and (max-width:600px) {
    section{
         position: absolute;
         left: 5%;
         top: 5%;
         transform: translate(0%, 0%);
         border: 2px solid #464E44;
         padding: 10px;
         width: 90%;
         height: 80%;
         padding-left: 30px;
         

         }
    #main{
        display: block;
        
    }
    #main div {
        padding-top: 40px;
    }
    #main div:first-child {
        padding-top: 0px;
    }
 }

